<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="admin/fragments/head :: head">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>Người dùng</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

</head>

<body>
	<!-- ======= Header ======= -->
	<header th:replace="admin/fragments/header :: header">
	</header>
	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar">

		<ul class="sidebar-nav" id="sidebar-nav">

			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/admin}">
					<i class="bi bi-grid"></i>
					<span>Tổng quan</span>
				</a>
			</li> <!-- End Dashboard Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#user-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-people"></i><span>Người dùng</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="user-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
					<li>
						<a th:href="@{/admin/users_management}">
							<i class="bi bi-list-ul"></i><span>Danh sách</span>
						</a>
					</li>
				</ul>
			</li><!-- End Users Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#category-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-journal-medical"></i><span>Danh mục</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="category-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a th:href="@{/admin/categories_management}">
							<i class="bi bi-list-ul"></i><span>Danh sách</span>
						</a>
					</li>
					<li>
						<a th:href="@{/admin/categories_management/add}">
							<i class="bi bi-person-plus-fill"></i><span>Thêm mới</span>
						</a>
					</li>
				</ul>
			</li><!-- End Categorys Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#product-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-journal-bookmark"></i><span>Sản phẩm</span><i
						class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="product-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
					<li>
						<a th:href="@{/admin/books_management}">
							<i class="bi bi-list-ul"></i><span>Danh sách</span>
						</a>
					</li>
					<li>
						<a th:href="@{/admin/books_management/add}">
							<i class="bi bi-person-plus-fill"></i><span>Thêm mới</span>
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-bs-target="#oder-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-basket2"></i><span>Đơn hàng</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="oder-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
					<li>
						<a th:href="@{/admin/orders_management}" class="active">
							<i class="bi bi-list-ul"></i><span>Danh sách</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/admin/contacts}">
					<i class="bi bi-chat-left-text"></i>
					<span>Liên hệ</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/logout}">
					<i class="bi bi-box-arrow-in-right"></i>
					<span>Đăng xuất</span>
				</a>
			</li>
		</ul>
	</aside>

	<!-- ======= Main ======= -->
	<main id="main" class="main">

		<div class="pagetitle d-flex">
			<h1>Chi tiết đơn hàng</h1>
			<nav class="ms-auto">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/admin}"><i class="bi bi-house"></i></a></li>
					<li class="breadcrumb-item active">Đơn hàng</li>
				</ol>
			</nav>
		</div><!-- End Page Title -->

		<div th:if="${message}" class="alert alert-success" role="alert">
			<p th:text="${message}"></p>
		</div>

		<section class="section dashboard">
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<!-- Recent Sales -->
						<div class="col-12">
							<div class="card mb-4">
								<h5 class="card-header">Thông tin khách hàng</h5>
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<p class="mb-1"><strong>ID:</strong> <span th:text="${order.id}"></span></p>
											<p class="mb-1"><strong>Người nhận:</strong> <span
													th:text="${order.reciever}"></span></p>
											<p class="mb-1"><strong>Số điện thoại:</strong> <span
													th:text="${order.phoneNumber}"></span></p>
											<p class="mb-1"><strong>Email:</strong> <span
													th:text="${order.emailAddress}"></span></p>
											<p class="mb-1"><strong>Thời gian tạo:</strong> <span
													th:text="${#dates.format(order.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
											</p>
										</div>
										<div class="col-md-6">
											<p class="mb-1"><strong>Tổng giá:</strong> <span
													th:text="${#numbers.formatDecimal(__${(order.totalPrice)}__, 0, 'POINT', 0, 'POINT')} + ' VND'"></span>
											</p>
											<p class="mb-1"><strong>Trạng thái:</strong>
												<span th:if="${order.status == 'PENDING'}">Đang chờ xử lý</span>
												<span th:if="${order.status == 'PROCESSING'}">Đang xử lý</span>
												<span th:if="${order.status == 'DELIVERING'}">Đang giao hàng</span>
												<span th:if="${order.status == 'DELIVERED'}">Đã giao thành công</span>
												<span th:if="${order.status == 'CANCELLED'}">Đã hủy</span>
											</p>
											<p class="mb-1"><strong>Phương thức thanh toán:</strong> <span
													th:text="${order.paymentMethod}"></span></p>
											<p class="mb-1"><strong>Địa chỉ giao hàng:</strong> <span
													th:text="${order.shippingAddress}"></span></p>
											<p class="mb-1"><strong>Thời cập nhập:</strong> <span
													th:text="${#dates.format(order.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
											</p>
										</div>
									</div>
								</div>
							</div>

							<h5>Danh sách sản phẩm trong đơn hàng</h5>
							<table class="table table-striped table-bordered table-hover datatable">
								<thead>
									<tr>
										<th>ID</th>
										<th>Tên sách</th>
										<th>Giá gốc</th>
										<th>Giá giảm</th>
										<th>Số lượng</th>
										<th>Thành tiền</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item : ${ordersDetails}">
										<td th:text="${item.getBook().id}"></td>
										<td th:text="${item.getBook().title}"></td>
										<td
											th:text="${#numbers.formatDecimal(__${(item.getBook().originalPrice)}__, 0, 'POINT', 0, 'POINT')} + ' VND'">
										</td>
										<td
											th:text="${#numbers.formatDecimal(__${(item.getBook().salePrice)}__, 0, 'POINT', 0, 'POINT')} + ' VND'">
										</td>
										<td th:text="${item.quantity}">2</td>
										<td
											th:text="${#numbers.formatDecimal(__${item.quantity * item.price}__, 0, 'POINT', 0, 'POINT')} + ' VND'">
										</td>
									</tr>
								</tbody>
							</table>

							<div class="text-center">
								<a th:href="@{/admin/orders_management}"><button type="button"
										class="btn btn-secondary">Quay lại</button></a>
										
								<span th:if="${order.status == 'PENDING'}">
									<a th:href="@{/admin/orders_management/details/process/__${order.id}__}"
										class="btn btn-warning">Xử lý</a>
									<a th:href="@{/admin/orders_management/details/cancel/__${order.id}__}"
										class="btn btn-danger">Huỷ đơn hàng</a>
								</span>
								<span th:if="${order.status == 'PROCESSING'}">
									<a th:href="@{/admin/orders_management/details/deliver/__${order.id}__}"
										class="btn btn-primary">Giao hàng</a>
									<a th:href="@{/admin/orders_management/details/cancel/__${order.id}__}"
										class="btn btn-danger">Huỷ đơn hàng</a>
								</span>
								<span th:if="${order.status == 'DELIVERING'}">
									<a th:href="@{/admin/orders_management/details/delivered/__${order.id}__}"
										class="btn btn-success">Xác nhận đã giao hàng</a>
								</span>
							</div>
						</div>
					</div>
				</div><!-- End Left side columns -->
			</div>
		</section>
	</main>

	<!-- ======= Footer ======= -->
	<footer th:replace="admin/fragments/footer :: footer"></footer>

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/vendor/chart.js/chart.umd.js}"></script>
	<script th:src="@{/vendor/echarts/echarts.min.js}"></script>
	<script th:src="@{/vendor/quill/quill.js}"></script>
	<script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
	<script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
	<script th:src="@{/vendor/php-email-form/validate.js}"></script>

	<!-- Template Main JS File -->
	<script th:src="@{/js/admin/main.js}"></script>
</body>

</html>