<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!-- Favicons -->
    <link th:href="@{/img/favicon.ico}" rel="icon">
    <link th:href="@{/img/favicon.ico}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/css/admin/style.css}" rel="stylesheet">

</head>

</html>