<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<body class="sb-nav-fixed">
	<footer id="wn__footer" class="footer__area bg__cat--8 brown--color" th:fragment="footer">
		<div class="footer-static-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="footer__widget footer__menu">
							<div class="ft__logo">
								<a th:href="@{/}">
									<img th:src="@{/img/Rooks-Logo.png}" alt="logo" />
								</a>
							</div>
							<div class="footer__content">
								<ul class="social__net social__net--2 d-flex justify-content-center">
									<li>
										<a href="#"><i class="bi bi-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="bi bi-google"></i></a>
									</li>
									<li>
										<a href="#"><i class="bi bi-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="bi bi-linkedin"></i></a>
									</li>
									<li>
										<a href="#"><i class="bi bi-youtube"></i></a>
									</li>
								</ul>
								<ul class="mainmenu d-flex justify-content-center">
									<li><a href="#">Điều khoản</a></li>
									<li><a th:href="@{/shop}">Cửa hàng</a></li>
									<li><a th:href="@{/contact}">Liên hệ</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>