<!doctype html>
<html class="no-js" lang="zxx">

<head th:fragment="head">
    <!-- Favicons -->
    <link th:href="@{/img/favicon.ico}" rel="icon">
    <link th:href="@{/img/favicon.ico}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

	<!-- Plugins css -->
	<link th:href="@{/css/user/animation.css}" rel="stylesheet">
	<link th:href="@{/css/user/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/jquery-ui.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/material-design-iconic-font.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/owl.carousel.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/owl.theme.default.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/style.css}" rel="stylesheet">
</head>
</html>