<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body class="sb-nav-fixed">
	<header id="wn__header" class="header__area header__absolute sticky__header" th:fragment="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-6 col-lg-2">
					<div class="logo">
						<a th:href="@{/}">
							<img th:src="@{/img/Rooks-Logo.png}" class="logo" alt="logo img" />
						</a>
					</div>
				</div>
				<div class="col-lg-8 d-none d-lg-block">
					<nav class="mainmenu__nav">
						<ul class="meninmenu d-flex justify-content-start">
							<li class="drop with--one--item">
								<a th:href="@{/}">Trang chủ</a>
							</li>
							<li class="drop">
								<a th:href="@{/shop}">Cửa hàng</a>
							</li>

							<li><a th:href="@{/contact}">Liên hệ</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-md-6 col-sm-6 col-6 col-lg-2">
					<ul class="header__sidebar__right d-flex justify-content-end align-items-center">


						<li class="shopcart">
							<a th:href="@{/cart}"><span class="product_qun" th:text="${cartItemCount}" id="cart-quantity"></span></a>
						</li>

						<li class="setting__bar__icon">
							<a class="setting__active" href="#"></a>
							<div class="searchbar__content setting__block">
								<div class="content-inner">
									<div class="switcher-currency">
										<strong class="label switcher-label">
											<span th:if="${currentUser != null}"><a th:href="@{/profile}" th:text="${currentUser.fullName}"></a></span>
											<span th:if="${currentUser == null}" th:text="Account">
											</span>
										</strong>
										<div class="switcher-options">
											<div class="switcher-currency-trigger">
												<div th:if="${currentUser != null}" class="setting__menu">

													<span th:each="role : ${currentUser.roles}">
   														 <span th:if="${role.name == 'ROLE_ADMIN'}">
															 <span><a th:href="@{/admin}" class="font-weight-bold fw-semibold"><i class="bi bi-layout-wtf me-2"></i>Quản lý</a></span>
														 </span>
													</span>
													<span><a th:href="@{/cart/checkout}"><i class="bi bi-wallet2 me-2"></i>Thanh toán</a></span>
													<span><a th:href="@{/orders}"><i class="bi bi-bag-check me-2"></i>Đơn hàng</a></span>
													<span><a th:href="@{/wishlist}"><i class="bi bi-heart me-2"></i>Yêu thích</a></span>
													<span><a th:href="@{/logout}"><i class="bi bi-box-arrow-right me-2"></i>Đăng xuất</a></span>
												</div>

												<div th:if="${currentUser == null}" class="setting__menu">
													<span><a th:href="@{/login}"><i class="bi bi-person-check-fill me-2"></i>Đăng nhập</a></span>
													<span><a th:href="@{/register}"><i class="bi bi-person-plus-fill me-2"></i>Đăng ký</a></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
</body>

</html>